body {
    margin: 0;
    background: beige;
    text-align: center;
}

a+a {
    margin-left: 10px;
}

div.containt{
    text-align: centr;
}

ul.list{
    display: inline-block;
    text-align: left;
}